.input-container {
   margin-top: 3rem;
   margin-bottom:2rem;
}

.input-container form {
   display: grid;
   grid-template-columns: 2fr 0.75fr 0.75fr 0.8fr;
   gap: 1.8rem;
}

.input-container form .subjects {
   padding: 12px 20px;
   border-radius: 4px;
   border: none;
   outline: none;
}

.input-container form .credits {
   padding: 12px 0px;
   width: 4rem;
   text-align: center;
   border-radius: 4px;
   border: none;
   outline: none;
}


.input-container form .grades {
   padding: 12px 0px;
   width: 3rem;
   text-align: center;
   border-radius: 4px;
   border: none;
   outline: none;
   cursor: pointer;
}

.add{
   background-color: rgb(19, 175, 19);
}