.display-subjects{
   width: auto;
   height:62vh;
   overflow-y: scroll;
}

.subject-item{
   display:grid;
   grid-template-columns: 2fr 0.75fr 0.75fr 0.8fr;
   gap:1.7rem;
   margin-bottom: 2rem;
}

.subject-item .credit, .subject ,.grade{
   text-align: center;
    padding-top: 0.5rem;
}
.subject-item .subject{
   width: 14rem;
   height: 2.5rem;
   background-color: white;
   border-radius: 4px;
}

.subject-item .grade{
   width: 4rem;
   height: 2.5rem;
   background-color: white;
   border-radius: 4px;
}

.subject-item .credit{
   width: 3.9rem;
   height: 2.5rem;
   background-color: white;
   border-radius: 4px;
}

.display-subjects .calulate{
    width:8rem;
    background-color:yellow;

}

.display-subjects .calulate.calulate:hover{
   background-color: rgb(209, 209, 141);
   transition: transform 0.5s;
   transform: scale(0.95);  
}

.result{
   color: white;
   font-size:2rem;
}

.remove{
   background-color: rgb(161, 9, 9);
}

::-webkit-scrollbar {
   display: none;
 }
 